<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин Электроники</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Магазин электроники</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Товары по категориям
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for category in categories %}
                            <a class="dropdown-item"
                               href="products/categories/{{ category.id }}/">{{ category.name }}</a>
                            {% endfor %}
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="products/categories/all/">Все товары</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Товары по производителям
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for vendor in vendors %}
                            <a class="dropdown-item"
                               href="products/vendors/{{ vendor.id }}/">{{ vendor.name }}</a>
                            {% endfor %}
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="products/vendors/all/">Все производители</a>
                        </div>
                    </div>
                </ul>
                <ul class="navbar-nav col-5 justify-content-end">
                    <li class="nav-item active">
                        {% if user.is_authenticated %}
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle font-weight-bold"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.first_name }} {{ user.last_name }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right mt-3">
                                <a href="/users/account/" class="dropdown-item py-2">Управление аккаунтом</a>
                                <a href="/users/basket/" class="dropdown-item py-2">Корзина</a>
                                <a href="/users/orders/" class="dropdown-item py-2">Заказы</a>
                                <a href="/users/logout/" class="dropdown-item py-2">Выйти</a>
                            </div>
                        </div>
                        {% else %}
                        <a href="/users/login/" class="nav-link font-weight-bold">Вход</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %} {% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>